<div class="login">
	<p class="instructions">Þessa innskráningarleið er aðeins hægt að nota ef þú ert nú þegar skráð(ur) í Póstbox. Það er einfalt að skrá sig í Póstboxið á postur.is. Þar ertu leidd(ur) áfram, skref fyrir skref þar til þú færð þitt P-númer, velur þér Póstbox og getur farið að nýta þér þjónustuna. Þú getur skráð þig á mappan.is eða notað rafræn skilríki til þess að skrá þig í þjónustuna. Rafræn skilríki eru auðveld leið til auðkenningar og undirritunar. Þau getur þú fengið í símann þinn eða í debetkortið. Á postur.is eru einföld myndbönd sem útskýra hvernig ferlið gengur fyrir sig.</p>
	<div class="form">
		<div class="userinput phone-number">
			<div class="row">
				<label>Símanúmer</label>
				<input type="text" id="pwebcheckout-login-name" class="ui-corner-all" maxlength="7" tabindex="1" digits autofocus><br />
			</div>
			<div class="row">
				<button id="pwebcheckout-login-nameBtn" title="Áfram" tabindex="3"></button>
			</div>
		</div>
		<div class="userinput code">
			<div class="row">
				<label>SMS-kóði</label>
				<input type="text" id="pwebcheckout-login-code" class="ui-corner-all" maxlength="4" tabindex="1" digits><br />
			</div>
			<div class="row">
				<button id="pwebcheckout-login-codeBtn" title="Áfram" tabindex="3"></button>
			</div>
		</div>
		<div class="output"></div>
	</div>
</div>