<div class="payment">

	<p class="instructions">Lorem ipsum dolor greiðslumöguleikar</p>

	<div id="pwebcheckout-paymentmethods">
		<h3>Borga við afhendingu</h3>
		<div>
			<p>Lorem ipsum dolor</p>
			<button id="pwebcheckout-paylater" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" tabindex="1" title="Halda áfram og velja sendingarmáta">
				<span class="ui-button-text">Áfram</span>
			</button>
		</div>
		<h3>Greiðslukort</h3>
		<div>
			<p>Lorem ipsum dolor</p>
			<div id="pwebcheckout-choose-creditcard" class="row">
				<select class="choose-creditcard">
					<option>Velja greiðslukort</option>
				</select>
			</div>
			<p>Skrá nýtt greiðslukort</p>
			<div class="row">
				<label>Korthafi</label>
				<input type="text">
			</div>
			<div class="row">
				<label>Kortanúmer</label>
				<input type="text" digits>
			</div>
			<div class="row">
				<label>Gildir til</label>
				<select class="expdate">
					<option>MM</option>
				</select>
				<select class="expdate">
					<option>ÁÁ</option>
				</select>
			</div>
			<div class="row">
				<label>CVV</label>
				<input type="text" digits>
			</div>
			<button id="pwebcheckout-newcreditcard" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" tabindex="1" title="Bæta korti við">
				<span class="ui-button-text">Bæta korti við</span>
			</button>
			<button id="pwebcheckout-paycreditcard" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" tabindex="1" title="Greiða">
				<span class="ui-button-text">Greiða</span>
			</button>
		</div>
		
	</div>

</div>