<div class="userinfo">

	<p class="instructions">Pakka innanlands er hægt að senda á pósthús eða heim að dyrum. Þú getur sent stóra, litla, langa, breiða eða mjóa pakka með Póstinum. Hver pakki fær viðtökunúmer þannig að hægt er að finna sendingu, hvar hún er stödd á hverjum tíma. Við mælum með því að verðmætari sendingar séu tryggðar með pósttryggingu, en lágmarkstrygging er innifalin.</p>

	<div class="login left">
		<div class="userinput phone-number">
			<label>Símanúmer</label>
			<input type="text" id="pwebcheckout-login-name" class="ui-corner-all" maxlength="7" tabindex="1" digits><br />
			<div class="centerbutton">
				<button id="pwebcheckout-login-nameBtn" title="Áfram" tabindex="3" class="right"></button>
			</div>
		</div>
		<div class="userinput code">
			<label>SMS-kóði</label>
			<input type="text" id="pwebcheckout-login-code" class="ui-corner-all" maxlength="4" tabindex="1" digits><br />
			<div class="centerbutton">
				<button id="pwebcheckout-login-codeBtn" title="Áfram" tabindex="3" class="right"></button>
			</div>
		</div>
		<div class="output"></div>
	</div>

	<div class="right">
		<div class="row">
			<div class="userinput">
				<label>Kennitala</label>
				<input type="text" id="pwebcheckout-nin" class="nin ui-corner-all" maxlength="10">
			</div>
		</div>
		<div class="row">
			<div class="userinput">
				<label>Nafn</label>
				<input type="text" id="pwebcheckout-name" class="ui-corner-all">
			</div>
		</div>
		<div class="row">
			<div class="userinput">
				<label>Netfang</label>
				<input type="text" id="pwebcheckout-email" class="ui-corner-all">
			</div>
		</div>
		<div class="row">
			<div class="userinput">
				<label>Farsímanúmer</label>
				<input type="text" id="pwebcheckout-mobile-phone-number" class="phone-number ui-corner-all" maxlength="7">
			</div>
		</div>
		<div class="row">
			<div class="userinput">
				<label></label>
				<button id="pwebcheckout-complete-userinfo" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" tabindex="1" title="Halda áfram og velja sendingarmáta">
					<span class="ui-button-text">Áfram</span>
				</button>
			</div>
		</div>
	</div>

</div>