.webcheckout {
}

/* Header */

.webcheckout > .ui-widget-header {
}

.webcheckout > .ui-widget-header > .ui-dialog-title {
}

.webcheckout > .ui-dialog-titlebar {
}

.webcheckout > .ui-dialog-titlebar > .ui-dialog-titlebar-close {
	display: none;
}

/* Body */


/*.webcheckout .loading > span {
}
.webcheckout .loading > img {
	transform: translateY(-60px);
}*/

.webcheckout button > span {
	color: red;
}
.webcheckout button:disabled > span {
	color: #dddddd;
}

.webcheckout input {
	padding-left: 2px;
	padding-right: 2px;
}

.webcheckout > .ui-dialog-content {
	text-align: center;
}

.webcheckout > .ui-dialog-content > .loading.fullscale {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
}
.webcheckout > .ui-dialog-content > .loading.fullscale > span {
	display: block;
	margin-left: inherit;
	margin-right: inherit;
}
.webcheckout > .ui-dialog-content > .loading.fullscale > img {
	display: block;
	margin-bottom: 10px;
	margin-left: inherit;
	margin-right: inherit;
}

.webcheckout > .ui-dialog-content > .choose-service,
.webcheckout > .ui-dialog-content > .payment {
	display: none;
	height: 420px;
	text-align: left;
}

.webcheckout > .ui-dialog-content > .choose-service > h2 {
}

.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > h3,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > h3 {
	color: #c00;
}

.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion {
	width: 100%;
}

.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row > .userinput.get {
	display: none;
}
.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row > .userinput > label {
	display: block;
}
.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row > .userinput > input.postbox {
	display: inline-block;
	margin-left: 5px;
	width: 80px;
}
.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row > .userinput > select,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > .expdate {
	display: inline-block;
}
.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row > .userinput > select.postcode {
	margin-left: 5px;
}
.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .row > .userinput > select.posthouse,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > .choose-creditcard {
	display: block;
	width: 200px;
}

.webcheckout > .ui-dialog-content > .choose-service > .ui-accordion > div > .horizontal-line {
	border-bottom: 1px solid red;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

/** USERINFO VIEW - with login  **/

.webcheckout > .ui-dialog-content > .userinfo > .left {
	display: block;
	float: left;
	margin-left: 5px;
	height: 60%;
	padding: 5px;
	width: 30%;
}
.webcheckout > .ui-dialog-content > .userinfo > .right {
	display: block;
	float: right;
	height: 60%;
	margin-right: 5px;
	padding: 5px;
	width: 60%;
}


/** USERINFO VIEW - base  **/

.webcheckout > .ui-dialog-content > .userinfo {
	display: none;
	height: 100%;
	text-align: left;
}
.webcheckout > .ui-dialog-content > .userinfo > .instructions,
.webcheckout > .ui-dialog-content > .payment > .instructions,
.webcheckout > .ui-dialog-content > .login > .instructions {
	display: block;
	height: 30%;
	text-align: left;
}
.webcheckout > .ui-dialog-content > .userinfo > .row,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row {
	/*height: 37px;*/
	padding-bottom: 10px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput {
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > .row {
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > label,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > label,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > label {
	display: inline-block;
	height: 27px;
	margin-bottom: 0px;
	text-align: right;
	width: 30%;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > input,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > input,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > input {
	display: inline-block;
	height: 27px;
	margin-left: 5px;
	width: 300px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > select,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > select,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > select {
	height: 27px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > input.nin,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > input.nin {
	width: 104px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > input.phone-number,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > input.phone-number {
	width: 74px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > input.address,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > input.address {
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > select.postcode,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > select.postcode {
	margin-left: 5px;
	width: 200px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row.addresses,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row.addresses {
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > select.addresses,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > select.addresses {
	margin-left: 5px;
	width: 300px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > button,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > button,
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > button {
	margin-left: 5px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > .loading,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > .loading {
	display: inline-block;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > .loading > img,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > .loading > img {
	display: inline-block;
	margin-left: 10px;
}
.webcheckout > .ui-dialog-content > .userinfo > .row > .userinput > .loading > span,
.webcheckout > .ui-dialog-content > .userinfo > .right > .row > .userinput > .loading > span {
	display: inline-block;
	margin-left: 10px;
}

.webcheckout > .ui-dialog-content > .payment > .instructions {
	height: 15%;
}
.webcheckout > .ui-dialog-content > .payment > .ui-accordion > div > label {
	width: 20%;
}

/** LOGIN VIEW **/

.webcheckout > .ui-dialog-content > .login {
	display: block;
	height: 100%;
	text-align: center;
}
.webcheckout > .ui-dialog-content > .login > .form {
	display: block;
	height: 60%;
}

.webcheckout > .ui-dialog-content > .login > .form > .output {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.webcheckout > .ui-dialog-content > .login > .form > .output > .loading {
}
.webcheckout > .ui-dialog-content > .login > .form > .output > .loading > span {
}
.webcheckout > .ui-dialog-content > .login > .form > .output > .loading > img {
	margin-right: 10px;
}

.webcheckout > .ui-dialog-content > .login > .form > .userinput,
.webcheckout > .ui-dialog-content > .userinfo > .login > .userinput {
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	width: 220px;
}
.webcheckout > .ui-dialog-content > .login > .form > .userinput > .row {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	width: 100%;
}
/*.webcheckout > .ui-dialog-content > .login > .form > .userinput > .row > label {
	display: inline-block;
	float: left;
}
.webcheckout > .ui-dialog-content > .login > .form > .userinput > .row > input {
	display: inline-block;
	float: right;
}*/
.webcheckout > .ui-dialog-content > .login > .form > .userinput > .row > button {
}
/*.webcheckout > .ui-dialog-content > .login > .row > .userinput > .centerbutton,
.webcheckout > .ui-dialog-content > .userinfo > .left > .userinput > .centerbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 76px;
}*/

/* 90px + 70px = 160px */
.webcheckout > .ui-dialog-content > .login > .form > .userinput.phone-number > .row > label,
.webcheckout > .ui-dialog-content > .userinfo > .login > .userinput.phone-number > label {
	/*margin-left: 27px;*/
	display: inline-block;
	margin-left: auto;
	margin-right: 10px;
}
.webcheckout > .ui-dialog-content > .login > .form > .userinput.phone-number > .row > input,
.webcheckout > .ui-dialog-content > .userinfo > .login > .userinput.phone-number > input {
	/*margin-left: 5px;
	margin-right: 27px;*/
	display: inline-block;
	margin: auto;
	width: 74px;
}

/* 80px + 40px = 120px*/
.webcheckout > .ui-dialog-content > .login > .form > .userinput.code > .row > label,
.webcheckout > .ui-dialog-content > .userinfo > .login > .userinput.code > label {
	margin-left: 50px;
}
.webcheckout > .ui-dialog-content > .login > .form > .userinput.code > .row > input,
.webcheckout > .ui-dialog-content > .userinfo > .login > .userinput.code > input {
	margin-left: 5px;
	margin-right: 50px;
	width: 46px;
}