<div class="choose-service">

	<div id="pwebcheckout-choose-service">

		<h3>Senda heim</h3>

		<div class="userinput get">
			<div class="row">
				<span>Hægt er að panta heimsendingu, gegn gjaldi, í þeim póstnúmerum þar sem Pósturinn er með heimaksturskerfi. Einnig texti um smápakka. Lorem ipsum dolor...</span>
			</div>
			
			<div class="left">
				<div class="row">
					<label>Heimilisfang</label>
				</div>
				<div class="row">
					<input type="text" id="pwebcheckout-home-address" class="address ui-corner-all">
					<select id="pwebcheckout-home-postcode" class="ui-corner-all postcode">
						<option selected disabled style="display:none;">Veldu Póstnúmer...</option>
					</select>
				</div>

				<div class="sendlist">
					<div id="pwebcheckout-choose-service-normalpackage" class="row">
						<label>Verð X kr.</label>
						<button id="pwebcheckout-complete-send-normalpackage" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" title="Pakki keyrður heim">
							<span class="ui-button-text">Keyra pakka heim</span>
						</button>
					</div>

					<div id="pwebcheckout-choose-service-smallpackage" class="row">
						<label>Verð: X kr.</label>
						<button id="pwebcheckout-complete-send-smallpackage" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" title="Smápakki sem kemur inn um lúguna">
							<span class="ui-button-text">Smápakki inn um lúgu</span>
						</button>
					</div>
				</div>
			</div>

		</div>

		<h3>Sækja</h3>
		<div class="userinput get">
			<div class="row">
				<span>Hægt er að sækja vöruna á pósthús, í póstbox eða í verslun. Lorem ipsum dolor...</span>
			</div>

			<div class="pickuplist">
				<div class="row">
					<label>Pósthús</label>
					<select id="pwebcheckout-posthouse" class="ui-corner-all posthouse">
						<option selected disabled style="display:none;">Veldu pósthús...</option>
					</select>
					<button id="pwebcheckout-complete-pickup-posthouse" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" title="Pósthús">
						<span class="ui-button-text">Sækja á pósthús</span>
					</button>
				</div>
				<div class="row">
					<label>Póstbox</label>
					<select id="pwebcheckout-postbox" class="ui-corner-all postbox">
						<option selected disabled style="display:none;">Veldu póstbox...</option>
					</select>
					<button id="pwebcheckout-complete-pickup-postbox" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" title="Póstbox">
						<span class="ui-button-text">Sækja í póstbox</span>
					</button>
				</div>
				<div class="row">
					<label>Verslun</label>
					<select id="pwebcheckout-store" class="ui-corner-all postbox">
						<option selected disabled style="display:none;">Veldu verslun...</option>
					</select>
					<button id="pwebcheckout-complete-pickup-store" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" title="Verslun">
						<span class="ui-button-text">Sækja í verslun</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>