<h3 id="pwebcheckout-send-postbox">Póstbox</h3>
<div>
	<div class="row">
		<span>Það er einfalt að skrá sig í Póstboxið á postur.is. Þar ertu leidd(ur) áfram, skref fyrir skref þar til þú færð þitt P-númer, velur þér Póstbox og getur farið að nýta þér þjónustuna.</span>
	</div>
	<div class="row">
		<div class="userinput get">
			<label>Póstbox</label>
			<select id="pwebcheckout-postbox" class="ui-corner-all postbox">
				<option selected disabled style="display:none;">Veldu Póstbox...</option>
			</select>
		</div>
	</div>
</div>