<h3 id="pwebcheckout-send-posthouse">Sækja á pósthús</h3>
<div>
	<div class="row">
		<span>Pósthús eru staðsett um allt land, eða á um 60 stöðum. Finndu staðsetningu, opnunartíma og þjónustustig á hvaða pósthúsi sem er. Þú getur einnig leitað á Íslandskorti.</span>
	</div>
	<div class="row">
		<div class="userinput get">
			<label>Pósthús</label>
			<select id="pwebcheckout-posthouse" class="ui-corner-all posthouse">
				<option selected disabled style="display:none;">Veldu Pósthús...</option>
			</select>
		</div>
	</div>
</div>