<div id="pwebcheckout-send-small-package">Smápakki</h3>
<div>
	<div class="row">
		<span>Kemur inn um lúguna.</span>
	</div>
	<div class="row">
		<div class="userinput get">
			<label>Heimilisfang</label>
			<input type="text" id="pwebcheckout-small-package-address" class="address ui-corner-all">
			<select id="pwebcheckout-small-package-postcode" class="ui-corner-all postcode">
				<option selected disabled style="display:none;">Veldu Póstnúmer...</option>
			</select>
		</div>
	</div>
</div>